html, body, #root {
  height: 100%;
  margin: 0;
  background-image: url("/src/assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertical centering */
  align-items: center;     /* Horizontal centering */
  gap: 2rem;

}

h1 {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    text-align: center;
    color: #cc3636;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 1rem;
}